.div1{
  border: 2px solid #e87867;
  border-radius: 10px;overflow: hidden;
  min-height: 94vh;
  width: 96vw;
  margin: 1vh 1vw;
  display: flex;
  justify-content: center;
  padding: 1.5vh 1vw;
  position: relative;
}

.div2{
  height: 94vh;
  width: 96vw;
  display: flex;
  vertical-align: middle;
  border-radius: 10px;
  position: relative;
  z-index: 0;
  border: 3px red solid;
}

.semicircle {
  width: 50px;
  height: 100px;
  border: 2px solid #ffffff;
  -moz-border-radius: 100px 0 0 100px ;
  -webkit-border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
  border-right: none;
  position: absolute;
  top: 40vh;
  right: 15px;
  background: transparent;
  z-index: 30;
}

#icono{
  height: 50px;
  padding-left: 10px;
  z-index: 40;
}

.semicircle img {
  height: 28px;
  position: relative;
  top: 25px;
  color: white;
  right: 5px;
  background-color: transparent;
}

.orange-circle {
  position: absolute;
  z-index: 40;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: #e87867;
  bottom: 100px;
  right: 150px;
}

.orange-circle p {
  position: absolute;
  font-size: 18px;
  right: 5px;
  top: 40px;
  background-color: transparent;
  text-transform: capitalize;
}

#sidebar {
  background-color: #0b0a0a;
  width: 50%;
  height: 555px;
  display: inline-block;
  margin: 10px 2px 20px;
  position: absolute;
  right: 50px;
  z-index: 60;
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 800px;
}

.left-column {
  width: 40%;
  height: 520px;
  background-color: #0b0a0a;
}

.left-column h3 {
  position: relative;
  top: 95px;
  right: 0px;
  text-transform: uppercase;
  transform: rotate(0deg);
  font-size: 18px;
  margin-left: 5px;
}

.left-column h3::after {
  content: "\025cf";
  color: #e87867;
  margin-left: 3px;
}

.notice-container {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 120px;
  margin: 15px 0 25px;
}

.notice-container h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  top: 0px;
  background-color: #0b0a0a;
  color: #e87867;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 5px;
}
h5{
  padding-top: 1em;
  padding-bottom: 1em;
}
.notice-container2 {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 235px;
  margin: 15px 0 25px;
}

.notice-container2 h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  top: 0px;
  background-color: #0b0a0a;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container2 p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 5px;
}

.notice-container3 {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 350px;
  margin: 15px 0 25px;
}

.notice-container3 h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  top: 0px;
  background-color: #0b0a0a;
  color: #e87867;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container3 p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 5px;
}

#copy{
  position: absolute;
  width: 40%;
  left: 0px;
  top: 500px;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 5px;
}

.right-column {
  position: absolute;
  width: 60%;
  height: 520px;
  background-color: #0b0a0a;
  top: 0px;
  right: 0px;
}

.right-column h5 {
  position: absolute;
  top: 100px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .8;
}

.right-column p {
  width: 25%;
  position: relative;
  left: 0px;
  top: 120px;
  margin: 20px 0px 98px;
  font-size: 12px;
}

.redes {
  position: absolute;
  top: 380px;
  height: 20px;
}

.redes p {
  display: inline;
  font-size: 16px;
  text-transform: lowercase;
  margin: -18px 8px 0 0;
  color: #ffffff;
  line-height: 20px;
  max-height: fit-content;
}

.redes p::first-letter {
  text-transform: uppercase;
}

.redes p:hover {
  color: #e87867;
  font-size: 20px;
}

.equis img{
  position: relative;
  max-height: 26px;
  max-width: 26px;
  right: -100px;
  top: -80px;
}


/* ************************************** */

#menuToggle
{
  display: block;
  position: absolute;
   /* top: 50%; */
  right: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  font-weight: bold;
  color: #E87867;
}


#menuToggle input
{
  display: bock;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
  position: absolute;
  left: 135px;
  width: 240px; /*ancho menú*/
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  text-align: left;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* TODO: to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it
 */
#menuToggle input:not(:checked) ~ ul
{
  transform: none;
}

