<div @enterState>

      <div class="noti">
        <div class="row">
          <div class="semana">
            <div class="sem1"><h3>ÚLTIMA SEMANA</h3></div>
            <div class="sem2"><h3>PRÓXIMA SEMANA</h3></div>
          </div>

          <div class="divNoticias">
            <div class="bloqueNoticias" *ngFor="let noti of noticia | paginate: { itemsPerPage: 3, currentPage: pages}; index as i">
              <tbody>
                <div class="titulo"><th>COMENTARIO #{{i+1}}</th><br></div>
                <div>
                  <tr>
                    <td class="cuerpoNoticia">{{noti.cuerpoNoticia}}</td>
                    <td class="fechaNoticia">{{noti.fechaNoticia}}</td>
                  </tr>
                </div>
              </tbody>
            </div>
        </div>

        </div>
      </div>
</div>




