<div class="div1">
  <div class="div2">
    <app-menu></app-menu>
     <div>
      <div class="semicircle">
        <img id="icono" src="../../assets/Exports/Iconos_Web_Carreras_Comentarios.png" alt="Icono de comentarios">
      </div>
    </div>
    <div id="sidebar">
      <div class="left-column">
        <h3>ultima semana</h3>
        <div class="notice-container">
          <h5>comentario #1</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptiodaonsañn doaishoda idadlkd dalkslañsdn das</p>
        </div>
        <div class="notice-container2">
          <h5>comentario #2</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptiodaonsañn doaishoda idadlkd dalkslañsdn das</p>
        </div>
        <div class="notice-container3">
          <h5>comentario #3</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptiodaonsañn doaishoda idadlkd dalkslañsdn das</p>
        </div>
        <p id="copy">copyright carreras 2022</p>
      </div>
      <div class="right-column">
        <h5>proxima semana</h5>
        <p>29-07</p>
        <p>25-07</p>
        <p>20-07</p>
        <div class="redes">
          <p>Fb</p>
          <p>Ig</p>
          <p>Ln</p>
          <p>Tw</p>
        </div>
        <span class="equis">
          <img id="cerrar" src="../../assets/Exports/Iconos_Web_Carreras_Cruz.png" alt="">
        </span>
      </div>
    </div>
  </div>

</div>
