div p{
  margin: 0;
  padding: 0;
}

/* Bloque de noticias*/
.divNoti{
  margin-top: 2vh;
  height: 100%;
}
.noti {
  background-color: black;
  opacity: 0.93;
  width: 36%;
  height: 96vh;
  position: absolute;
  right: 0;
  z-index: 70;
  border-top: 1px solid black;
  padding-left: 4em;
}

.semana {
  height: 10vh;
  width: 35vw;
  font-size: 18px;
  font-weight: bold;
  margin-top: 4em;
  margin-left: 0.07em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sem1 {
  float: left;
  position: relative;
  font-size: 1em;
  text-align: left;
}

.sem2{
  margin-left: 15vw;
  width: 35%;
  position: absolute;
}

.sem2 h3{
  font-size: 1em;
  color:darkgrey;
}

.titulo1{
  font-size: 1.7em;
}

tbody {
  display: table-row-group;
}

.titulo2{
  margin-bottom: 15px;
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  color: #e87867;
  height: 30px;
}

.titulo:second-child{
  color:#ffffff;
}

.comentario {
  font-size: 24px;
  font-weight: bold;
}

.cuerpoNoticia{
  font-size: 18px;
  margin-top: 20px;
  width: 400px;
  height: 50px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.fechaNoticia {
  width: 170px;
  font-size: 16px;
  color: #e87867;
  font-weight: bold;
  padding-left: 82px;
}

.cuerpoNoticia .fechaNoticia{
  margin-bottom: 10px;
}

.footer {
  width: 60vh;
  padding-top: 10px;
  margin-left: 63vw;
  margin-top: 88vh;
  position: absolute;
  z-index: 2;
  display: inline-table;
}

.copy p{
  float: left;
  width: 70%;
  font-size: 22px;
  padding-left: 5px;
}

.redes {
  float: left;
  height: 22px;
}

.redes p {
  display: inline;
  font-size: 22px;
  margin: -18px 8px 0 0;
  color: #ffffff;
  line-height: 20px;
  max-height: fit-content;
}

.redes p:hover {
  color: #e87867;
  font-size: 20px;
}

/* .bloqueNoticias{
  width: 70%;
} */

#icono{
  height: 50px;
  padding-left: 10px;
  z-index: 40;
  cursor: pointer;
}

.divNoticias{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
