<div @enterState>

      <div class="noti">
        <div class="row">
          <div class="semana">
            <div class="sem1"><h3 class="titulo1">NOTICIAS</h3></div>
          </div>

          <div class="divNoti">
            <div class="bloqueNoticias" *ngFor="let noti of noticia | paginate: { itemsPerPage: 3, currentPage: pages}">
              <tbody>
                <div class="titulo2"><th>{{noti.fechaNoticia}}</th><br></div>
                <div>
                  <tr>
                    <td class="cuerpoNoticia">{{noti.cuerpoNoticia}}</td>
                  </tr>
                </div>
              </tbody>
            </div>
        </div>

        </div>
      </div>
</div>




