    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/ranking" >Ranking</a></li>
                <li><a routerLink="/pilotos">Pilotos</a></li>
                <li><a routerLink="/categorias">Categorías</a></li>
                <li><a routerLink="/noticias">Noticias</a></li>

            </ul>
        </div>
    </nav>




