    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <!-- <li><a href="../home">Home</a></li>
                <li><a href="../pilotos">Pilotos</a></li>
                <li><a href="../categorías">Categorías</a></li> -->
                <li><a routerLink="/home">Home</a></li>
                <!-- <li><a routerLink="/sponsors">Sponsors</a></li>
                <li><a routerLink="/autodromos">Autódromos</a></li> -->
                <li><a routerLink="/categorias">Categorías</a></li>
                <!-- <li><a routerLink="/carreras">Carreras</a></li> -->
                <li><a routerLink="/pilotos">Pilotos</a></li>
                <li><a routerLink="/noticias">Noticias</a></li>

            </ul>
        </div>
    </nav>




