.card{
  /* border: solid 1px;
  border-radius: 3%; */
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardsGrid {
  margin-top: 18em;
  margin-left: 5em;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 2px;
  padding: 2px;
  justify-content: center;
}

.contentCard{
  list-style: none;
  text-align: center;
}

.puntos{
  color: #e87867;
}
