<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <div class="div3">
      <h1 class="vista">RANKING</h1>
    </div>
    <div class="navegador">
      <a routerLink="/ranking">
        <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
      </a>
    </div>
    <div class="botones">
      <button class="filtros">FILTROS</button>
      <button class="top">TOP 20</button>
      <button class="categ">CATEGORIAS</button>
      <button class="semana">SEMANA</button>
    </div>
    <div class="ranking">
      <table>
        <tr>
          <th>POS</th>
          <th>PILOTO</th>
          <th>TOTAL</th>
          <th>PC A</th>
          <th>PC B</th>
          <th>T 2000</th>
          <th>TC</th>
          <th>2000 S</th>
          <th>TCM</th>
          <th>TCP</th>
          <th>TCPK</th>
          <th>TN C2</th>
          <th>TN C3</th>
          <th>TP C1</th>
          <th>TP C2</th>
          <th>TP C3</th>
          <th>TRS</th>
          <th>TR V6</th>
          <th>POS <br> ANT</th>
          <th>PTS <br> ANT</th>
        </tr>
        <tr>
          <td>01</td>
          <td>WERNER, Mariano</td>
          <td>20.440,20</td>
          <td>15.857</td>
          <td>0</td>
          <td>2.852</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1.721</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>01</td>
          <td>20.051</td>
        </tr>
        <tr>
          <td>02</td>
          <td>SANTERO, Julian</td>
          <td>18.856,90</td>
          <td>6.879</td>
          <td>4.912</td>
          <td>7.066</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>02</td>
          <td>18.765</td>
        </tr>
        <tr>
          <td>03</td>
          <td>CANAPINO, Agustin</td>
          <td>18.006,00</td>
          <td>10.725</td>
          <td>7.282</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>03</td>
          <td>18.006</td>
        </tr>
        <tr>
          <td>04</td>
          <td>PERNIA, Leonel</td>
          <td>15.848,10</td>
          <td>4.868</td>
          <td>6.627</td>
          <td>4.154</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>04</td>
          <td>14.980</td>
        </tr>
        <tr>
          <td>05</td>
          <td>URCERA, José Manuel</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>05</td>
          <td>11.572</td>
        </tr>
        <tr>
          <td>06</td>
          <td>CASTELLANO, Jonatan</td>
          <td>11.046,20</td>
          <td>8.225</td>
          <td>0</td>
          <td>2.591</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>06</td>
          <td>10.782</td>
        </tr>
        <tr>
          <td>07</td>
          <td>ARDUSSO, Facundo</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>07</td>
          <td>10.382</td>
        </tr>
        <tr>
          <td>08</td>
          <td>CHAPUR, Facundo</td>
          <td>8.971,50</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>08</td>
          <td>8.928</td>
        </tr>
        <tr>
          <td>09</td>
          <td>LEDESMA, Cristian</td>
          <td>8.295,00</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>09</td>
          <td>8.295</td>
        </tr>
        <tr>
          <td>10</td>
          <td>ROSSI, Matias</td>
          <td>7.942,40</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>7.851</td>
        </tr>
      </table>
      <div class="navegadorRanking">
        <a class="ant">
          <h6 class="etiqueta-anterior">ANTERIORES</h6>
          <img class="anteriores" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png"></a>

        <a class="prox">
          <img class="proximos" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png"></a>
          <h6 class="etiqueta-proximo">PRÓXIMOS</h6>

      </div>
    </div>
  </div>
</div>
