<body>
  <div class="principal-container">
      <header>
          <h4>&#129122;</h4>
          <app-menu></app-menu>
          <h3>menu</h3>
          <p class="home">Ranking</p>
      </header>
      <section class="filters">
          <ul id="list">
              <li>filtros</li>
              <li>top xx</li>
              <li>categorias</li>
              <li>semana</li>
          </ul>
      </section>
      <section class="table">
          <table>
              <thead>
                  <tr>
                      <th>pos</th><th>piloto</th><th>total</th><th>tc</th><th>stc 2000</th><th>tn c3</th><th>tr v6</th><th>tn c2</th><th>tcp</th>
                      <th>tc 2000</th><th>tcpk</th><th>tcm</th><th>tcpm</th><th>tp c3</th><th>trs</th><th>tp c2</th><th>trj</th><th>tp c1</th><th>pca</th><th>pcb</th><th>pos ant</th><th>pts ant</th>
                  </tr>
              </thead>
              <tr>
                  <td class="position">01</td><td class="name">Werner, Mariano</td><td class="total">20.440,20</td><td>15.857</td><td>0</td><td>2.852</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>1.721</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">01</td><td class="total">20.051</td>
              </tr>
              <tr>
                  <td class="position">02</td><td class="name">Santero, Julián</td><td class="total">18.856,90</td><td>6.879</td><td>4.912</td><td>7.066</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">02</td><td class="total">18.765</td>
              </tr>
              <tr>
                  <td class="position">03</td><td class="name">Canapino, Agustín</td><td class="total">18.006,20</td><td>10.725</td><td>7.282</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">03</td><td class="total">18.006</td>
              </tr>
              <tr>
                  <td class="position">04</td><td class="name">Pernia, Lionel</td><td class="total">15.848,10</td><td>4.868</td><td>6.627</td><td>4.154</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">04</td><td class="total">14.980</td>
              </tr>
              <tr>
                  <td class="position">05</td><td class="name">Urcera, José Manuel</td><td class="total">11.632,20</td><td>5.356</td><td>809</td><td>5.467</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">05</td><td class="total">11.572</td>
              </tr>
              <tr>
                  <td class="position">06</td><td class="name">Castellano, Jonatán</td><td class="total">11.046,20</td><td>8.225</td><td>0</td><td>2.591</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>230</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">06</td><td class="total">10.782</td>
              </tr>
              <tr>
                  <td class="position">07</td><td class="name">Ardusso, Facundo</td><td class="total">10.386,25</td><td>5.260</td><td>5.125</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">07</td><td class="total">10.386</td>
              </tr>
              <tr>
                  <td class="position">08</td><td class="name">Chapur, Facundo</td><td class="total">8.971,50</td><td>0</td><td>0</td><td>5.127</td><td>0</td><td>0</td><td>2.957</td><td>0</td>
                  <td>286</td><td>602</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">08</td><td class="total">8.928</td>
              </tr>
              <tr>
                  <td class="position">09</td><td class="name">Ledesma, Christian</td><td class="total">8.295,00</td><td>8.005</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                  <td>240</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">09</td><td class="total">8.295</td>
              </tr>
              <tr>
                  <td class="position">10</td><td class="name">Rossi, Matias</td><td class="total">7.942,20</td><td>0</td><td>7.304</td><td>0</td><td>638</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="total">11</td><td class="total">7.851</td>
              </tr>
          </table>
      </section>
      <footer>
          <ul id="list2">
              <li>anteriores</li>
              <li class="arrow">&#60;</li>
              <li class="arrow">&#62;</li>
              <li>proximos</li>
          </ul>
      </footer>
  </div>

  {{ pilotos | json }}

  {{ nombresPilotos | json }}

</body>
