<div class="div1">
  <div class="div2">
    <app-menu></app-menu>
    <div class="div3">
      <h1 class="vista">PILOTOS</h1>
    </div>

    <div class="main">

      <div class="div4">
        <label>
          SIGUIENTE PILOTO
        </label>
      </div>

      <div class="navegadorPilotos">
        <a>
          <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png">
        </a>
        <a>
          <img class="adelante" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png">
        </a>


      </div>

      <div class="nombrePiloto">
        <h3 class="nombre">FACUNDO<br><span class="apellido">CHAPUR</span></h3>
      </div>

      <div class="categoriasPiloto">


        <div class="categ">
          <h3>PC A</h3>
          <h3 class="puntos">5.127</h3>
        </div>

        <div class="categ">
          <h3>PC B</h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>T 2000</h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>TC</h3>
          <h3 class="puntos">2.957</h3>
        </div>

        <div class="categ">
          <h3>2000 S</h3>
          <h3 class="puntos">1.254</h3>
        </div>

        <div class="categ">
          <h3>TCM</h3>
          <h3 class="puntos">286</h3>
        </div>

        <div class="categ">
          <h3>TCP</h3>
          <h3 class="puntos">0</h3>
        </div>
        <div class="categ">
          <h3>TCPK </h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>TN C2</h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>TN C3</h3>
          <h3 class="puntos">286</h3>
        </div>

        <div class="categ">
          <h3>TP C1</h3>
          <h3 class="puntos">816</h3>
        </div>

        <div class="categ">
          <h3>TP C2</h3>
          <h3 class="puntos">2.154</h3>
        </div>

        <div class="categ">
          <h3>TP C3</h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>TRS</h3>
          <h3 class="puntos">0</h3>
        </div>

        <div class="categ">
          <h3>TR V6</h3>
          <h3 class="puntos">286</h3>
        </div>



      <!-- </div>
      <div class="posicionPiloto">
        <div class="div4">
          <h4>POS</h4>
          <h4 class="pto">08</h4>
        </div>
        <div class="div5">
          <h4>POS ANT</h4>
          <h4 class="pto">08</h4>
        </div>
        <div class="div6">
          <h4>PTS</h4>
          <h4 class="pto">8.971,50</h4>
        </div>
        <div class="div7">
          <h4>PTS ANT:</h4>
          <h4 class="pto">8.928</h4>
        </div>
      </div> -->
    </div>
  </div>
</div>
