.div1{
  border: 2px solid #e87867;
  border-radius: 10px;overflow: hidden;
  min-height: 94vh;
  width: 96vw;
  margin: 1vh 1vw;
  display: flex;
  justify-content: center;
  padding: 1.5vh 1vw;
  position: relative;
}

.div2{
  height: 94vh;
  width: 96vw;
  display: flex;
  vertical-align: middle;
  border-radius: 10px;
  position: relative;
  background-image: url(../../assets/Pilotos_Carreras.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.div3 h1{
  /* background-color: blueviolet;
  border: 3px solid green; */
  margin-left: 600px;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  position: absolute;
}

.div4{
  /* background-color: aquamarine;
  border: 3px solid red; */
  position: absolute;
  height: fit-content;
  color: #e87867;
  font-weight: bold;
  font-size: 18px;
  margin-top:180px;
  margin-left: 45em;
  z-index: 1;
}

.nombrePiloto{
  margin-top: 18vh;
  margin-left: 20vw;
  z-index: 3;
}

.nombre{
  margin-bottom: 0;
  font-size: 55pt;
  line-height: 1.15em;
  font-weight: lighter;
}

.apellido{
  font-size: 80pt;
  font-style: italic;
  font-weight: bold;
}

.categoriasPiloto{
  position: fixed;
  width: 45%;
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw  ;
  margin-bottom: 1px;
  padding-bottom: 1px;
  z-index: 1;
}

table{
  width: 60%;
  font-size: 18px;
  text-align: center;
  height: 280px;
}

.puntos{
  color: #e87867;
  font-weight: bold;

}

.navegadorPilotos img {
  width: 4%;
}

.navegadorPilotos {
  position: fixed;
  margin-top: 160px;
  margin-left: 700px;
}

.pilotoAnterior {
  font-size: 3em;
  font-weight: bold;
  color: #e87867;
  background-color: transparent;
  border: none;

}

.pilotoSiguiente {
  font-size: 3em;
  font-weight: bold;
  color: #e87867;
  background-color: transparent;
  border: none;
}

.atras {
  margin-left: 20vw;
  transform: rotate(180deg);
  cursor: pointer;
}

.adelante {
  margin-left: 2vw;
}

.posicionPiloto {
  margin-top: 50vh;
}

.puntos_seccion{

  float: left;
  height: fit-content;
  margin-top: 3em;
  margin-left: 5em;
  z-index: 2;
}

.contenedor_info_posicion{
  display: flex;
  height: 3em;
}

.div_posicion{
  float: left;
}

.div_posicion p{
  font-size: 5em;
  line-height: 1.2em;
  margin-top: 0;
  color: #e87867;
  font-weight: bold;
}

.div_posicion h3{
  line-height: 3px;
  font-size: 1em;
  color: white;
  margin-bottom: 0;
}

.div_posicion_ant{
  margin-top: 30px;
  margin-left: 15px;
}

.div_posicion_ant .posicion-ant {
  margin-top: 5px;
  font-size: 45px;
  font-weight: bold;
}

.div_posicion_ant h3{
  line-height: 3px;
  font-size: 1em;
  color: white;
  margin-bottom: 0;
}

.div_posicion_ant p{
  font-size: 1.5em;
  line-height: 1.2em;
  margin-top: 0;
  color: #e87867;
}

.div_puntos{
  margin-top: 4em;
  line-height: 20px;
}

.div_puntos .puntos{
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.div_puntos_ant h3 {
  float: left;
}

.div_puntos_ant h3{
  margin-top: 50px;
}

.div_puntos_ant .puntos_ant {
  float: left;
  color:#e87867;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2.8em;
  margin-left: 1em;
}

.main{
  width: 96vw;
}

.tabla{
  margin-top: 15em;
  margin-left: 20em;
}

.row{
  display: flex;
}

.div5{
  margin-top: 17%;
  width: 40%;
  /* border: solid 3px yellow; */
  flex: 40%;
  /* position: absolute; */

}
.puntosPiloto{
  flex: 60%;
  /* position:relative; */
}

.select{
  margin-right: 4%;
}
