<div class="div1">
  <div class="image1">
    <app-menu></app-menu>
    <h1>PILOTOS</h1>
    <div class="nav">

    </div>
    <div class="main">
      <div class="nombrePiloto">
        <h3 class="nombre">FACUNDO<br><span class="apellido">CHAPUR</span></h3>
      </div>
      <div class="categoriasPiloto">
        <div class="categ linea1"><h3>PC A</h3></div>
        <div class="categ linea1"><h3>PC B</h3></div>
        <div class="categ linea1"><h3>T2000</h3></div>
        <div class="categ linea1"><h3>TC</h3></div>
        <div class="categ linea1"><h3>2000S</h3></div>
        <div class="categ linea1"><h3>TCM</h3></div>
        <div class="categ linea2"><h3>TCP</h3></div>
        <div class="categ linea2"><h3>TCPK </h3></div>
        <div class="categ linea2"><h3>TN C2</h3></div>
        <div class="categ linea2"><h3>TN C3</h3></div>
        <div class="categ linea2"><h3>TP C1 </h3></div>
        <div class="categ linea2"><h3>TP C2</h3></div>
        <div class="categ linea3"><h3>TP C3</h3></div>
        <div class="categ linea3"><h3>TRS</h3></div>
        <div class="categ linea3"><h3>TRV6</h3></div>

      </div>
      <!-- <div class="posiciónPiloto">
        <div><h4>POS</h4></div>
        <div><h4>POS ANT</h4></div>
        <div><h4>PTS</h4></div>
        <div><h4>PTS ANT:</h4></div>
      </div> -->
    </div>
  </div>
</div>
