<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <div class="div3">
      <h1 class="vista">PILOTOS</h1>
    </div>

    <div class="main">
      <div class="div4">
        <label>
          SIGUIENTE PILOTO
        </label>
      </div>

      <div class="navegadorPilotos">
        <a>
          <img class="pilotoAnterior" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png">
        </a>
        <a>
          <img class="pilotoSiguiente" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_2.png">
        </a>
        <a>
          <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
        </a>
        <a>
          <img class="adelante" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
        </a>


      </div>

      <div class="nombrePiloto">
        <h3 class="nombre">FACUNDO<br><span class="apellido">CHAPUR</span></h3>
      </div>

      <div class="categoriasPiloto">
        <table>
          <tr class="categ">
            <td>PC A</td>
            <td>PC B</td>
            <td>T 2000</td>
            <td>TC</td>
            <td>2000 S</td>
            <td>TCM</td>
          </tr>
          <tr class="puntos">
            <td>5.127</td>
            <td>0</td>
            <td>0</td>
            <td>2.957</td>
            <td>1.254</td>
            <td>286</td>
          </tr>
          <tr class="categ">
            <td>TCP</td>
            <td>TCPK</td>
            <td>TN C2</td>
            <td>TN C3</td>
            <td>TP C1</td>
            <td>TP C2</td>
          </tr>
          <tr class="puntos">
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>286</td>
            <td>816</td>
            <td>2.154</td>
          </tr>
          <tr class="categ">
            <td>TP C3</td>
            <td>TRS</td>
            <td>TR V6</td>
          </tr>
          <tr class="puntos">
            <td>0</td>
            <td>0</td>
            <td>286</td>
          </tr>
        </table>
      </div>
    </div>

      <div class="puntos_seccion">
        <div class="contenedor_info_posicion">
          <div class="div_posicion">
            <h3>POS</h3>
            <p class="posicion">08</p>
          </div>
          <div class="div_posicion_ant">
            <h3>POS ANT</h3>
            <p class="posicion-ant">09</p>
          </div>
       </div>
       <div class="contenedor_info_puntos">
          <div class="div_puntos">
            <h3>PTS</h3>
            <p class="puntos">8971,50</p>
          </div>
          <div class="div_puntos_ant">
            <h3>PUNTOS ANT</h3>
            <p class="puntos_ant">8.928</p>
          </div>
       </div>
      </div>
  </div>
</div>

