.div1{
  border: 2px solid #e87867;
  border-radius: 10px;overflow: hidden;
  height: 96vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  margin: 1vh 1vw;
  padding-top: 1.5vh;
  position: relative;
}

.div2{
  height: 94vh;
  width: 96vw;
  display: flex;
  vertical-align: middle;

  border-radius: 10px;
  position: relative;
  background-image: url(../../assets/Pilotos_Carreras.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.div3 h1{
  margin-left: 500px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: absolute;
}

.div4{
  position: fixed;
  color: #e87867;
  font-weight: bold;
  font-size: 18px;
  margin-top: 180px;
  margin-left: 815px;
}

.nombrePiloto{
  margin-top: 18vh;
  margin-left: 20vw;
  z-index: 3;

}

.nombre{
  margin-bottom: 0;
  font-size: 55pt;
  line-height: 1.15em;
  font-weight: lighter;
}

.apellido{
  font-size: 80pt;
  font-style: italic;
  font-weight: bold;
}

.categoriasPiloto{
  position: absolute;
  width: 45%;
  font-size: 19px;
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw  ;
  margin-bottom: 1px;
  padding-bottom: 10px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-width: 400px;
  z-index: 1;
}

.categ{
  height: 95px;
  font-size: 65%;
  text-align: center;
  grid-gap: 1rem;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px;

}

.puntos{
  color: #e87867;
  font-weight: bold;
}

.navegadorPilotos img {
  width: 3%;

}

.navegadorPilotos {
  position: fixed;
  margin-top: 170px;
}

.atras {
  transform: rotate(180deg);
  margin-left: 710px;
}
