* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0b0a0a;
}

.principal-container {
  width: 90%;
  height: 620px;
  padding: 1.5vh 1.5vw;
  border: 2px solid red;
  border-radius: 7px;
  position: relative;
  margin: 50px auto;
  opacity: .9;
  overflow: hidden;
  padding: 10px 10px;
  overflow: hidden;
  z-index: 4;
}

.principal-container h4 {
  position: absolute;
  color: white;
  font-size: 28px;
  z-index: 20;
  top: 150px;
  right: 180px;
  background-color: transparent;
}

.principal-container h3 {
  position: absolute;
  color: white;
  font-size: 28px;
  z-index: 20;
  top: 152px;
  right: 120px;
  background-color: transparent;
  transform: rotate(180deg);
}

.principal-container img {
  position: absolute;
  max-width: 96%;
  margin: 10px 10px 5px 10px;
  z-index: 10;
  opacity: 0.4;
}

.principal-container .home {
  color: #ffffff;
  position: absolute;
  z-index: 30;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Quantico', sans-serif;
  right: 50%;
  top: 20px;
  background-color: transparent;
  margin-top: 30px;
}

.principal-container p {
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Quantico', sans-serif;
  right: 50%;
  top: 20px
}


.principal-container .page-first {
  position: absolute;
  z-index: 51;
  color: #ffffff;
  font-size: 24px;
  top: 220px;
  right: 208px;
  font-family: 'Quantico', sans-serif;
  background-color: transparent;
}

.principal-container .page-twice {
  position: absolute;
  z-index: 52;
  color: #ffffff;
  font-size: 24px;
  top: 190px;
  right: 244px;
  font-family: 'Quantico', sans-serif;
  background-color: transparent;
}

.semicircle {
  width: 50px;
  height: 100px;
  border: 2px solid #ffffff;
  border-left: none;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 280px;
  right: 28px;
  transform: rotate(180deg);
  background: transparent;
  z-index: 30;
}

.semicircle img {
  height: 28px;
  position: relative;
  top: 25px;
  color: white;
  right: 5px;
  background-color: transparent;
}

.orange-circle {
  position: absolute;
  z-index: 40;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: #e87867;
  bottom: 100px;
  right: 150px;
}

.orange-circle p {
  position: absolute;
  font-size: 18px;
  right: 5px;
  top: 40px;
  background-color: transparent;
  text-transform: capitalize;
}

.principal-container #sidebar {
  background-color: #0b0a0a;
  width: 50%;
  height: 555px;
  display: inline-block;
  margin: 10px 2px 20px;
  position: absolute;
  left: 1210px;
  z-index: 60;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transition: all 500ms linear;
}

.principal-container #sidebar.active {
  left: 800px;
}

.left-column {
  width: 40%;
  height: 520px;
  background-color: #0b0a0a;
}

.left-column h3 {
  position: relative;
  top: 95px;
  right: 0px;
  text-transform: uppercase;
  font-family: 'Quantico', sans-serif;
  transform: rotate(0deg);
  font-size: 18px;
  margin-left: 5px;
}

.left-column h3::after {
  content: "\025cf";
  color: #e87867;
  margin-left: 3px;
}

.notice-container {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 120px;
  margin: 15px 0 25px;
}

.notice-container h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
  top: 0px;
  background-color: transparent;
  color: #e87867;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  font-family: 'Quantico', sans-serif;
  text-transform: capitalize;
  margin-left: 5px;
}

.notice-container2 {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 235px;
  margin: 15px 0 25px;
}

.notice-container2 h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
  top: 0px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container2 p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  font-family: 'Quantico', sans-serif;
  text-transform: capitalize;
  margin-left: 5px;
}

.notice-container3 {
  width: 40%;
  height: 80px;
  background-color: #0b0a0a;
  position: absolute;
  top: 350px;
  margin: 15px 0 25px;
}

.notice-container3 h5 {
  position: absolute;
  left: 0px;
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
  top: 0px;
  background-color: transparent;
  color: #e87867;
  text-transform: uppercase;
  margin-left: 5px;
}

.notice-container3 p {
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 14px;
  font-family: 'Quantico', sans-serif;
  text-transform: capitalize;
  margin-left: 5px;
}

#copy{
  position: absolute;
  width: 40%;
  left: 0px;
  top: 500px;
  font-size: 14px;
  font-family: 'Quantico', sans-serif;
  text-transform: uppercase;
  margin-left: 5px;
}

.right-column {
  position: absolute;
  width: 60%;
  height: 520px;
  background-color: #0b0a0a;
  top: 0px;
  right: 0px;
}

.right-column h5 {
  position: absolute;
  top: 100px;
  font-size: 12px;
  font-family: 'Quantico', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .8;
}

.right-column p {
  width: 25%;
  position: relative;
  left: 0px;
  top: 120px;
  margin: 20px 0px 98px;
  font-size: 12px;
  font-family: 'Quantico', sans-serif;
}

.redes {
  position: absolute;
  top: 380px;
  height: 20px;
}

.redes p {
  display: inline;
  font-size: 16px;
  font-family: 'Quantico', sans-serif;
  text-transform: lowercase;
  margin: -18px 8px 0 0;
  color: #ffffff;
  line-height: 20px;
  max-height: fit-content;
}

.redes p::first-letter {
  text-transform: uppercase;
}

.redes p:hover {
  color: #e87867;
  font-size: 20px;
}

.equis img{
  position: relative;
  max-height: 26px;
  max-width: 26px;
  right: -100px;
  top: -80px;
}
