<div class="div1">
  <div class="div2">
    <app-menu></app-menu>
    <div class="div3">
      <h1 class="vista">CATEGORIAS</h1>
    </div>

    <div class="navegador">
      <a>
        <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
      </a>
      <a routerLink="/categorias-tabla" class="buttom">
        <img class="adelante" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
      </a>
    </div>
    <!-- <div class="texto">
      <div>
        <p class="linea1">
          Lorem ipsum
        </p>
      </div>
      <div>
        <p class="linea2">
          Lorem ipsum
        </p>
      </div>
    </div>-->
  </div>
</div>



