<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <div class="div3">
      <h1 class="vista">CATEGORIAS</h1>
    </div>

    <div class="navegador">
      <a routerLink="/categorias">
        <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
      </a>
    </div>


        <div class="row">
          <div class="cardsGrid">
            <div class="card" *ngFor="let dat of categoria">
              <li>
                <h6><a class="dato" target="_blank" href="{{dat.linkCategoria}}">{{ dat.idCategoria}}</a></h6>
              </li>
            </div>
          </div>
        </div>


      </div>
    </div>
