<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <div class="div3">
      <h1 class="vista">CATEGORIAS</h1>
    </div>

    <div class="navegador">
      <a routerLink="/categorias">
        <img class="atras" src="../../assets/Exports/Iconos_Web_Carreras_Flecha_1.png">
      </a>
    </div>

    <div class="principal-container">
      <div class="categ-row1">
        <h6>tc</h6>
        <h6>2000s</h6>
        <h6>tn c3</h6>
        <h6>trv6</h6>
        <h6>tn c2</h6>
        <h6>tcp</h6>
      </div>
      <div class="categ-row2">
        <h6>t2000</h6>
        <h6>tcpk</h6>
        <h6>tcm</h6>
        <h6>tcpm</h6>
        <h6>tp c3</h6>
        <h6>trs</h6>
      </div>
      <div class="categ-row3">
        <h6>tp c2</h6>
        <h6>tp c1</h6>
        <h6>pc a</h6>
        <h6>pc b</h6>
      </div>
    </div>
  </div>
</div>
