body{
  background-color: black;
}

.div1 {
  overflow: hidden;
  height: 98vh;
  width: 95vw;
  margin: 1vh 2.5vw;
  border: 2px solid #e87867;
  border-radius: 10px;
  background-color: #3e3d3d;
  background-repeat: no-repeat;
  background-attachment:inherit;
  position: relative;
  z-index: 0;}

.div2 {
  color: white;
  text-align: center;}
